* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(../image/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.card {
  border-radius: 10px;
  width: calc(100vw / 3);
  height: 80vh;
  box-shadow: 0px 0px 15px 0px #000000;
  background-color: white; }
  .card__img img {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: auto; }
  .card__content, .card__title, .card-subtitle, .card__form {
    padding: 1rem 0;
    margin: 0 1rem; }
  .card__title {
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; }
  .card-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .card-subtitle__item {
      display: flex;
      flex-wrap: nowrap;
      width: 40%;
      font-size: 1.5rem; }
    .card-subtitle__item .item__icon {
      margin-right: 0.5rem;
      color: #208ef0; }
  .card__content {
    padding: 0.5rem 0;
    margin: 0 1rem; }
  .card__form {
    border-radius: 0px;
    font-size: 16px; }
    .card__form input {
      border-radius: 5px;
      padding: 0 1rem;
      margin: 0;
      border: 1px solid #000000;
      height: 3.5rem;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      width: 100%;
      transition: 0.5s; }
      .card__form input:focus {
        border: 1px solid #208ef0;
        outline-color: #208ef0;
        transition: 0.25s;
        transform: scaleY(1.2);
        box-shadow: 0px 0px 10px 0px #208ef0; }
  .card-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 0 1rem;
    justify-content: space-between; }
    .card-action__arrow {
      font-size: 2rem;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer; }
    .card-action__previous {
      transition: 0.5s;
      border: 1px solid #fe6b8b;
      color: #fe6b8b; }
      .card-action__previous:hover {
        transform: scale(1.2);
        transition: 0.25; }
      .card-action__previous:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
        background: none;
        background-color: #fe6b8b; }
    .card-action__next {
      transition: 0.5s;
      border: 1px solid #ff8e53;
      color: #ff8e53; }
      .card-action__next:hover {
        transform: scale(1.2);
        transition: 0.25; }
      .card-action__next:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
        background: none;
        background-color: #ff8e53; }
    .card-action__submit {
      cursor: pointer;
      padding: 0.25rem;
      width: 50%;
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
      border-radius: 10px;
      background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%); }
      .card-action__submit:hover {
        color: #fe6b8b;
        border: 1px solid #fe6b8b;
        background: none;
        background-color: #ffffff; }
