body {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  height: 100vh;
  width: calc(100vw/3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; }
  .card__background {
    width: 100%; }
